body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.leaflet-container {
  height: 800px;
}

.thumbnail {
  height: 50px;
  width: 50px;
}

.white-link {
  color: #fff;
}
.white-link:hover {
  color: #fff;
}
